.aboutme {
	display: inline;
	background: linear-gradient(transparent 50%, #ffeb3b 50%);
	padding: 4px 8px;
	font-size: 24px;
	font-weight: bold;
	margin-left: 255px;
	/* transform: skew(-15deg);
	z-index: -1; */
  }
  
  .highlight {
	display: inline;
	background: linear-gradient(transparent 50%, #cce4f5 50%);
	padding: 4px 8px;
  }
  
  
  .headshot
  {
	width: 250px;
	height: 250px;
  }
  .profile {
	display: flex;  /* Use flexbox */
	align-items: center;  /* Align items vertically */
	gap: 20px;  /* Add space between image and text */
  }
 
  
  .notion-labels {
	display: flex;  /* Arrange labels in a row */
	flex-wrap: wrap; /* Wrap to the next line if needed */
	gap: 8px; /* Space between labels */
	list-style: none; /* Remove bullets */
	padding: 0;
	margin: 0;
  }
  
  
  
  
  /* Responsive */
  @media (max-width: 768px) {
	.sidebar {
	  width: 180px;
	}
	.sidebar-logo {
	  font-size: 16px;
	}
	.sidebar-menu a {
	  font-size: 14px;
	}
  }
  
  
  
  .resume-container {
	display: flex;
	margin-top: 20px;
  }
  
  .resume-button {
	display: flex;
	align-items: center;
	background: #F7F6F3; /* Notion-style background */
	border: 1px solid #E0E0E0;
	border-radius: 8px;
	padding: 10px 16px;
	text-decoration: none;
	font-weight: 500;
	color: #181818;
	font-size: 16px;
	transition: all 0.2s ease-in-out;
  }
  
  .resume-button:hover {
	background: #E8E6E3;
	border-color: #C4C4C4;
  }
  
  .edu{
	margin-bottom: 10px;
  }
  