.myproject {
	display: inline;
	background: linear-gradient(transparent 50%, #ffeb3b 50%);
	padding: 4px 8px;
	font-size: 24px;
	font-weight: bold;
}

.illustration
{
  width: 40%;
  height: 40%;

}

.profile {
	display: flex;  /* Use flexbox */
	align-items: center;  /* Align items vertically */
	gap: 20px;  /* Add space between image and text */
  }