.header_row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding-left: 8px;
  padding-right: 8px;
}
  
.row-item1 {
  flex: 1.5;
  padding: 8px;
  text-align: left;
  color: #333;
}

.row-item2 {
  flex: 2;
  padding: 8px;
  text-align: left;
  color: #333;
}

.row-item3 {
  flex: 5;
  padding: 8px;
  text-align: left;
  color: #333;
}

.row-item4 {
  flex: 1;
  padding: 8px;
  text-align: left;
  color: #333;
}

.row-item5 {
  flex: 1; 
  padding: 8px;
  text-align: left;
  color: #333;
}

