.row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
	padding-left: 8px;
	padding-right: 8px;
}
  
.row-item1 {
    flex: 1.5;
	display: flex;
    align-items: center; 
}

.row-item2 {
    flex: 2;
    display: flex;
    align-items: center;
}

.row-item3 {
    flex: 5;
	display: flex;
    align-items: center; 
}

.row-item4 {
    flex: 0.5;
	display: flex;
    align-items: center; 
}

.row-item5 {
    flex: 1;
    display: flex;
    align-items: center; 
}



.row:hover {
	background-color: #f9f9f9;
}

.row-item1, .row-item2, .row-item3, .row-item4 {
    border-right: 1px solid #eee;
	flex: 1;
}
