/* Sidebar */
.sidebar {
	width: 250px;
	height: 100vh;
	background: #FFFFFF;
	border-right: 1px solid #E0E0E0;
	padding: 20px;
	display: flex;
	flex-direction: column;
  }

  .sidebar.collapsed {
	width: 50px; /* Reduced width when collapsed */
  }

  
  .sidebar-logo {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
  }
  
  .sidebar-menu {
	list-style: none;
	padding: 0;
  }
  
  .sidebar-menu li {
	margin: 0;
  }

  .sidebar-menu.collapsed {
	display: none; /* Hide menu items when collapsed */
  }

  .toggle-btn {
	background: none;
	border: none;
	cursor: pointer;
	color: #333;
	cursor: url('../images/cursor.png') 16 16, auto;
  }
  
  .sidebar-menu a {
	text-decoration: none;
	font-size: 16px;
	color: #444;
	padding: 15px 15px;
	display: block;
	border-radius: 5px;
	transition: background 0.2s;
  }
  
  .sidebar-menu a:hover {
	background: #efefef;
  }
  
  .sidebar-menu a.active {
	background: #dfdfdf;
	font-weight: bold;
  }
