.table_container {
	display: flex;
  flex-direction: column;
	justify-content: center; 
	background-color: #ffffff;
  }
  
.table {
    width: 100%; 
    height: auto; 
    text-align: center;
}


.tabs, .filters {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tabs {
  display: flex;
  justify-content: left;
  gap: 1rem;
  border-bottom: 1px solid #ccc;
}

.tabs button {
  background: none;
  border: none;
  border-bottom: 2px solid transparent;
  padding: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: border-color 0.2s ease;
  color: #acacac;
  font-weight: 600;
  margin-left: 1.5%;
}

.tabs button:hover {
  border-bottom: 3.5px solid #999;
}

.tabs button.active {
  border-bottom: 3.5px solid #999;
  color: #000000;
}

.filters {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 10px;
}

.filters button {
  background-color: transparent;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 0.9rem;
}

.filters button:hover {
  border-color: #999;
  background-color: #f9f9f9;
}

.filters button.active {
  background-color: #e6e6e6;
  border-color: #666;
  font-weight: 500;
}

.color-tag {
  padding: 0.4rem 0.8rem;
  margin: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: #fff;
  color: #333;
}


.clear_button {
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 0.85rem;
  margin-left: 0.5rem;
}
