/* General Layout */
body {
  font-family: "Inter", sans-serif;
  background-color: #F7F6F3;
  margin: 0;
  display: flex;
  height: 100vh;
  cursor: url('./images/cursor.png') 16 16, auto;
  font-size: 16px;
}

